body{
	font-family: 'Lato', sans-serif;
	color: #2d3c49 ; 
	font-weight: 500;


	  align-items: center;
  display: flex;

}
.body-image{
	width: 1120px;
	max-width: 100%;
}
.body-image{
	display: flex;
	flex-wrap: wrap;
}
img{
	max-width: 100%;
}
.container
{
	max-width: 100%;

}
.img-logo{
	margin-top: 25px;
	max-width: 100%;
	width: 100px;
}
.horizontal
{
	border-width: 3px;
	border-style: solid;
	border-color: #7d97ad;
}

.super-title{
	font-size: 40px;
}
.sup-header{
	color: #7d97ad;
	font-weight: 500;
	padding-bottom: 30px;
}


